.com_containt {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  border: 1px solid rgb(221, 219, 219);
  border-radius: 5px;
  margin-top: 10px;
}
.com_title {
  font-size: 20px;
  color: gray;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}
.Com_title_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0px 20px 5px 20px;
}
.content_box {
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgb(221, 219, 219);
  align-items: center;
  height: 40px;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}
.avatar {
  display: flex;
  flex-direction: row;
}
