.com_containt {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-top: 10px;
}
.com_title {
  font-size: 20px;
  color: gray;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  margin-bottom: 20px;
}
