/* style of an event post */

/* .singleEvent {
  /* flex: 0 0 calc(33.33% - 15px); 
*/

.eventImage {
  width: 100vw;
  /* height: 400px; */
  margin-top: 10px;
  border-radius: 10px;
}

/* style of the file sub-component of the event  */

.fileBox {
  margin-block: 3px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  justify-content: space-between;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  height: 70px;
  margin-top: 10px;
  cursor: pointer;
}

.pdfLogo {
  margin-left: 5px;
  color: red;
  height: 40px;
  width: 40px;
}

.pdfDownload {
  height: 35px;
  width: 35px;
  color: #878787;
  margin-right: 20px;
}

.pdfSize {
  color: #878787;
}

/* styles found in the post section of an event */
.eventRoom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  row-gap: 25px;
  /* display: flex;
  flex-wrap: wrap; */
}

/* upload section styles */

.events_modals {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coms_modals_first_part {
  width: 100%;
}

.default_file_input {
  opacity: 0;
  /* height: 100vh; */
  z-index: 100;
  cursor: pointer;
}

@media (max-width: 767px) {
  /* mobile devices styles */
  .salonComs {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* mobile devices styles wide and tablets */
  .salonComs {
    grid-template-columns: repeat(2, 1fr);
  }
}
